html{
	background-color: yellow;
}
body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
	width: 650px;
	margin: 0 auto;
	border: 10px double blue
}
main{
	padding: 20px;
}
footer {
	border-top: 5px solid blue;
}
h1 {
  font-size: 150%;
  color: blue;
  padding-bottom: 0em;
  margin-bottom: 0em
}

h2 {
  font-size: 125%;
}

h3 {
  font-size: 115%;
}
p, blockquote, ul, li {
  margin: 1em 0;
}
cite {
  color: blue;
  font-style: normal;
}
img {
  float: left;
  margin-right: 20px;
}
footer p {
  font-size: 90%;
  font-weight: bold;
  text-align: center;
  margin: 1em 0;
}
